/*
    color.css
*/

:root {

    /* ---------------------------------------------------------------- */ 
    /* Defaults 
    /* ---------------------------------------------------------------- */ 
    --c-blue: blue;
    --c-cyan: cyan;
    --c-red: red;
    --c-yellow: yellow;
    --c-green: green; 
    --c-black: black;
    --c-white: white;
    --c-brown: brown;
    --c-grey: grey;
    --c-orange: orange;
    --c-violet: violet;
    --c-pink: pink;


    /* ---------------------------------------------------------------- */ 
    /* Dark - Antrahazit - Dark Grey - Grey - ... 
    /* ---------------------------------------------------------------- */ 


    /* --------------------------------- */
    /* Grey 
    /* --------------------------------- */

    --c-light-grey-1: rgb(166, 166, 166);
   

    /* ---------------------------------------------------------------- */ 
    /* Dark Brown - Light Brown
    /* ---------------------------------------------------------------- */ 

    /* ---------------------------------------------------------------- */ 
    /* Dark White - White - Light White  
    /* ---------------------------------------------------------------- */ 

    --c-dark-white-1: rgb(224, 224, 224);
    --c-dark-white-2: rgb(227, 227, 227);
    --c-dark-white-3: rgb(241, 241, 241);

    

    
    /* ---------------------------------------------------------------- */ 
    /* Color Mix   
    /* ---------------------------------------------------------------- */ 

    /* ------------------------ */
    /* red rgb(213, 120, 120); */
    /* ------------------------ */
    --c-light-red-1: rgb(161, 36, 36);

    --c-dark-red-1: rgb(187, 55, 55);

    /* ------------------------ */
    /* green */
    /* ------------------------ */
    --c-dark-green-1: rgb(0, 176, 0);

}







