/*
    html-body.css 
*/

html, body {

    /* background-color: rgb(155, 155, 137); */
    /* background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%); */
    min-height: 100vh;
    margin: 0;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.5rem;

    font-size: 1rem;

    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);

}

#body-container {

    padding: .8em;
}







