/*
   layout-elements.css 
*/

/* ------------------------------------------------ */
/* Default - Others
/* ------------------------------------------------ */

.txt-b { font-weight: bold;}

.trans180deg { transform: rotateX(180deg);}

.cursor-pointer { cursor: pointer; }

/* ------------------------------------------------ */
/* Default - Icon Sizes
/* ------------------------------------------------ */

.img-icon-very-small { height: .6em; }
.img-icon-small { height: .8em; }
.img-icon-medium { height: 1em; }
.img-icon-big { height: 1.3em; }
.img-icon-very-big { height: 1.5em; }

/* ------------------------------------------------ */
/* Buttons - Default
/* ------------------------------------------------ */


.btn-default,
.btn-default-bold {

    height: 2.3em;
    padding: 0em .8em;

    font-size: .9em;

    display: flex;
    align-items: center;
    column-gap: .4em;

    border-radius: .4em;

    transition: all .3s;

}

.btn-default-bold { font-weight: bold; }


/* --------------------------------------------------------------- */
/* Button - Light Greys
/* --------------------------------------------------------------- */

.btn-art-light-grey {

    color: var(--c-light-grey-1);
    background-color: var(--c-light-white-2);

}

.btn-art-light-grey-black-font {

    color: var(--c-black);
    background-color: var(--c-light-white-2);
}


/* --------------------------------------------------------------- */
/* Button - Antrahzite
/* --------------------------------------------------------------- */

.btn-art-antrahzite {

    color: var(--c-light-white-2);

    background-color: rgb(39, 39, 39);
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
    background-blend-mode: multiply;

}

/* --------------------------------------------------------------- */
/* Button - Dark Red
/* --------------------------------------------------------------- */

.btn-art-dark-red {

   color: var(--c-light-white-2);
   background-color: var(--c-dark-red-1);

}

/* -------------------------------------------------------------- */
/* Hover - BG: Dark Red | C: Light White 
/* -------------------------------------------------------------- */


























/* ------------------------------------------------ */
/* Book Layout
/* ------------------------------------------------ */

.book-layout { 

    padding: .6em;

    display: grid;
    row-gap: .6em;

    background-color: white;
    border-radius: .4em;

}

.img-book { 

    height: 6em;
    min-width: 4em;
    border-radius: .3em;
}

.title-content-book {

    position: relative;

    display: flex;
    align-items: center;
    column-gap: 1em;
}

.youtube-container {

    display: flex;
    justify-content: flex-end;
}



.title-book {

   line-height: 1.2em;
   /* padding-bottom: .6em; */

}

.title-book > div:nth-of-type(1) {

    font-weight: bold;

}

.title-book > div:nth-of-type(2) {
    
}

/* ----------------------------------------------- */
/* Audio Layout 
/* ----------------------------------------------- */




/* ----------------------------------------------- */
/* Relax & Music 
/* ----------------------------------------------- */

/* .audio-container {

    margin: .8em;
    display: grid;
    row-gap: 2em;

    padding: 1.8em 1.3em;
    border-radius: .4em;
    background-color: rgb(36, 36, 36);
}

.audio-content-container {

    display: grid;
    row-gap: .6em;
    background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);

    border-radius: .4em;
    padding: 1.3em 1em;
}

.audio-content-container > div:nth-of-type(1) {

    font-weight: bold;
}

.audio-files-container {

    display: grid;
    row-gap: .6em;
}

.audio-files-container > div {

    display: grid;
    row-gap: .3em;
}

.audio-files-container > div > div:nth-of-type(1) {
    padding-left: .6em;
    font-style: italic;
}
 */
