/*
   resp-layout.css 
*/


/* ------------------------------------------------ */
/* Responsive Desgin
/* ------------------------------------------------ */

@media (min-width: 520px) {

    main {

        display: flex;
        gap: 1em;
        flex-wrap: wrap;
    }

    .book-card {

        width: 14em;
    
    }

}

@media (min-width: 760px) {

    .book-card {

        width: 18em;
    
    }

}

@media (min-width: 1023px) {

    .book-card {

        width: 22em;
    
    }

}