/*
   page-layout.css 
*/






/* ------------------------------------------------ */
/* MAIN - body 
/* ------------------------------------------------ */

#body-main {

    position: relative;
    top:0;

    padding: .8em;

    display: grid;

}


/* --------------------------------------------- */
/* Main - Content
/* --------------------------------------------- */


/* handling for showing content ( default unshown ) */
.main-content,
.book-category-content {

    position: absolute;
    top:0;
    left:-200%;

}

/* class to show content */
.show-selected-content {

    position: relative;
    top:0;
    left:0;

}








 






/* ------------------------------------------------- */
/* Open-Close Content Container 
/* ------------------------------------------------- */

.open-close-content-container {

    padding: 0em 0em;
    /* background-color: red; */
}

.flex-right { 

    display: flex;
    align-items: center;
    justify-content: flex-end;
}






