/* --------------------------------------------------------------------------------------------- */
/* Body Col Layout  | Chapter Item Overview 
/* --------------------------------------------------------------------------------------------- */

.body-col-layout-chapter-item-overview {

    display: flex;
    column-gap: .6em;

    border-radius: .4em .3em 0em 0em;

    background-color: var(--c-white);
}


/* ------------------------------------------------------------------------ */
/* [1/2] - IMG Container & IMG                                              */
/* ------------------------------------------------------------------------ */

.body-col-layout-chapter-item-overview .img-chapter-item-overview-box {

    position: relative;
    top:0;

    width: 95px;
    height: 130px;

    border-radius: .4em 0em .3em 0em;

    background-color: yellow;

}

.body-col-layout-chapter-item-overview .img-chapter-item-overview-box > .img-chapter-item-overview {

    width: 95px;
    height: 130px;

    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    border-radius: .3em 0em .3em 0em;
}


/* ------------------------------------------------------------------------ */
/* [2/2] - Content Chapter Item Overview                                    */
/* ------------------------------------------------------------------------ */


.body-col-layout-chapter-item-overview .content-chapter-item-overview {

    width: 100%;

    display: grid;
    align-items: flex-start;
    grid: auto 1fr / 1fr;

    /* background-color: red; */

    border-radius: 0em .3em 0em 0em;
}


/* ------------------------------------------------------------------------ */
/* [1/2] - Header                                                           */
/* ------------------------------------------------------------------------ */

.body-col-layout-chapter-item-overview .header-chapter-item-overview {

    height: 35px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border-radius: 0em .3em 0em 0em;
   
    /* background-color: red; */
}


.body-col-layout-chapter-item-overview .header-chapter-item-overview > .header-title-chapter-item-overview > div:nth-of-type(1) {

    font-size: .8em;
    color: var(--c-light-grey-5)
}



/* ------------------------------------------------------------------------ */
/* [2/2] - Content Info Boxes                                              */
/* ------------------------------------------------------------------------ */


.body-col-layout-chapter-item-overview .content-info-boxes-container-chapter-item-overview {

    height: 100%;
    padding-right: 6px;

    display: grid;
    align-content: space-between;
  
    line-height: 1.2em;
  
    /* background-color: red; */
 
}

/* ------------------------------------------ */
/* Book Info Overview 
/* ------------------------------------------ */

.book-info-overview {

    font-size: .9em;
    
}

.book-title-overview {

    line-height: 1.2em;
    font-weight: bold;
    
}

.book-autor-overview {

    /* padding-top: 3px; */
    color: var(--c-light-grey-5);
}


/* ------------------------------------------ */
/* Youtube Text
/* ------------------------------------------ */

.txt-youtube { 
    color: var(--c-light-antrahazit-1);
}



/* ------------------------------------------ */
/* Doc Info Overview 
/* ------------------------------------------ */

.doc-info-overview {

    padding-bottom: 6px;

    display: grid;
    row-gap: .3em;

    font-size: .9em;

}

.doc-title-overview {

    line-height: 1.2em;
    font-weight: bold;

}

.doc-short-info-container-overview {

    display: grid;
    color: var(--c-light-grey-5);

}
