
/* ----------------------------------------------------------------------------------------------------- */
/* Chapter Item Overview Container 
/* ----------------------------------------------------------------------------------------------------- */

.chapter-item-overview-container {

    display: grid;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

    border-radius: .3em;

}


/* --------------------------------------------------------------------------------------------- */
/* Body | Chapter Item Overview 
/* --------------------------------------------------------------------------------------------- */

.body-chapter-item-overview {


}


/* ------------------------------------------------------------------------------------- */
/* [1/3] - Row Layout 
/* ------------------------------------------------------------------------------------- */

.body-row-layout-chapter-item-overview {

    display: grid;
    background-color: var(--c-white);

    border-radius: .3em .3em 0em 0em;
}

/* ------------------------------------------------ */
/* header  */
/* ------------------------------------------------ */

.body-row-layout-chapter-item-overview > .header-chapter-item-overview {

    height: 2.5em;
    padding-left: 12px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border-radius: .3em .3em 0em 0em;

    /* background-color: red; */
   

}

/* header title  */
.header-title-chapter-item-overview {

    display: flex;
    align-items: center;
    column-gap: .4em;

}

.body-row-layout-chapter-item-overview > .header-chapter-item-overview > .header-title-chapter-item-overview > div:nth-last-of-type(1) {

    font-weight: bold;
    font-size: .9em;
}

/* header nr item  */
.header-nr-item-chapter-item-overview {

    align-self: flex-start;

    font-size: .9em;

    height: 100%;
    width: 2.8em;


    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: bold;

    border-radius: 0em .3em 0em .3em;

    color: var(--c-light-antrahazit-1);
    background-color: var(--c-light-white-1);

}


/* ------------------------------------------------ */
/* Content  */
/* ------------------------------------------------ */

.body-row-layout-chapter-item-overview > .content-chapter-item-overview {

    padding: 16px 12px;

    display: grid;
    row-gap: .3em;

    /* background-color: yellow; */

}

.img-chapter-item-overview-max-width {

    width: 100%;
    border-radius: .3em;
}


.content-info-boxes-container-chapter-item-overview {

    font-size: .9em;
    line-height: 1.4em;

    display: grid;
    row-gap: .8em;

   
}


/* ---------------------------------------------------- */
/* Tech Specs                                           */
/* ---------------------------------------------------- */

.tech-specs-container,
.book-specs-container {

    font-size: .85em;
    line-height: 1.3em;

    display: flex;
    flex-wrap: wrap;
    column-gap: .4em;
    row-gap: .4em;
    
    align-items: center;
}

.tech-specs-container > div,
.book-specs-container > div {

    padding: 0 .3em;

    display: flex;
    align-items: center;
    column-gap: .4em;

    border-radius: .2em;

    color: var(--c-light-antrahazit-1);
    background-color: var(--c-light-white-1);

}

.book-specs-container {

    padding: 6px 0px;
   
    /* padding-bottom: 8px; */
    /* padding: 12px 0px; */
    /* background-color: gold; */
    justify-content: flex-end;
}

/* ------------------------------------------------------------------------------------- */
/* [2/3] - Col Layout 
/* ------------------------------------------------------------------------------------- */

.body-col-layout-chapter-item-overview {

    /* height: 150px; */

    width: 100%;

    display: flex;
    column-gap: .6em;
    background-color: var(--c-white);

    border-radius: .4em .3em 0em 0em;
}

/* ------------------------------------------- */
/* Img Chapter Item Overview Box
/* ------------------------------------------- */

.body-col-layout-chapter-item-overview .img-chapter-item-overview-box {

    position: relative;
    top:0;

    width: 95px;
    height: 130px;

    border-radius: .4em 0em .3em 0em;
    background-color: yellow;

}

.body-col-layout-chapter-item-overview .img-chapter-item-overview-box > .img-chapter-item-overview {

    width: 95px;
    height: 130px;

    border-radius: .3em 0em .3em 0em;
}

/* ------------------------------------------- */
/* Content Chapter Item Overview 
/* ------------------------------------------- */
.body-col-layout-chapter-item-overview .content-chapter-item-overview {

    width: 100%;

    display: grid;
    align-items: flex-start;
    grid: auto 1fr / 1fr;

    /* background-color: red; */

    border-radius: 0em .3em 0em 0em;
}


/* ------------------------------ */
/* header 
/* ------------------------------ */
.body-col-layout-chapter-item-overview .header-chapter-item-overview {

    height: 35px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border-radius: 0em .3em 0em 0em;
   
    /* background-color: red; */
}

.body-col-layout-chapter-item-overview .header-chapter-item-overview > .header-title-chapter-item-overview > div:nth-of-type(1) {

    font-size: .8em;
}

.body-col-layout-chapter-item-overview .header-chapter-item-overview > .header-nr-item-chapter-item-overview {

    height: 2em;
}
/* ------------------------------ */
/* content info boxes
/* ------------------------------ */


.body-col-layout-chapter-item-overview .content-info-boxes-container-chapter-item-overview {

    height: 100%;

    /* background-color: red; */
    /* padding-bottom: 12px; */

    /* display: grid; */
    /* align-content: space-between; */

    /* padding-bottom: 12px; */
    /* width: 100%;
    display: grid; */
    /* justify-content: space-between; */

    line-height: 1.25em;

    padding-right: 8px;
    
   

   
}

.book-info-overview {

    line-height: 1.2em;
}

.book-autor-overview {

    color: black;
}



/* ------------------------------------------------------------------------------------- */
/* [3/3] - Float Left Layout 
/* ------------------------------------------------------------------------------------- */





/* --------------------------------------------------------------------------------------------- */
/* Footer | Chapter Item Overview 
/* --------------------------------------------------------------------------------------------- */
