/*
    color.css
*/

:root {

    /* ---------------------------------------------------------------- */ 
    /* Defaults 
    /* ---------------------------------------------------------------- */ 
    --c-blue: blue;
    --c-cyan: cyan;
    --c-red: red;
    --c-yellow: yellow;
    --c-green: green; 
    --c-black: black;
    --c-white: white;
    --c-brown: brown;
    --c-grey: grey;
    --c-orange: orange;
    --c-violet: violet;
    --c-pink: pink;

   
    /* ---------------------------------------------------------------- */ 
    /* Dark - Antrahazit - Dark Grey - Grey - ... 
    /* ---------------------------------------------------------------- */ 

    --c-light-antrahazit-1: rgb(87, 87, 87);

    --c-light-grey-1: rgb(166, 166, 166);
    --c-light-grey-2: rgb(163, 163, 163);
   
    /* ---------------------------------------------------------------- */ 
    /* Dark Brown - Light Brown
    /* ---------------------------------------------------------------- */ 

    --c-light-brown-1: #d9bf98;;

    /* ---------------------------------------------------------------- */ 
    /* Dark White - White - Light White  
    /* ---------------------------------------------------------------- */ 

    --c-light-white-1: rgb(241, 241, 241);
    --c-light-white-2: rgb(227, 227, 227);
    --c-light-white-3: rgb(224, 224, 224);
    
    /* ---------------------------------------------------------------- */ 
    /* Color Mix   
    /* ---------------------------------------------------------------- */ 

    /* ------------------------ */
    /* red                      */
    /* ------------------------ */

    --c-light-red-1: rgb(161, 36, 36);

    --c-dark-red-1: rgb(187, 55, 55);

    /* ------------------------ */
    /* green */
    /* ------------------------ */

    --c-dark-green-1: rgb(0, 176, 0);

}


/* ------------------------------------------------------------------------------ */
/* Background Color Mix
/* ------------------------------------------------------------------------------ */

.bgc-light-anthracite-mix {

    background-color: rgb(39, 39, 39);
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
    background-blend-mode: multiply;
}

/* custom category  */

.bgc-light-brown-white-mix {

    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}




