/*
   book-page.css 
*/

/* ----------------------------------------------------------------------------- */
/* Book Page 
/* ----------------------------------------------------------------------------- */

.book-page-container {

   display: grid;
   row-gap: 1em;
  
}


.book-category-content {

   display: flex;
   flex-wrap: wrap;
   gap: .8em;

}

/* ----------------------------------------------------------------------------- */
/* Book Card Layout 
/* ----------------------------------------------------------------------------- */

.book-card-layout {

   position: relative;
   top:0;

   /* width: 24em; */

   background-color: white;

   border-radius: .4em;

  

}

/* --------------------------------------------- */
/* Header - Book Card 
/* --------------------------------------------- */

.header-book-card {

   padding: .4em .4em;

   display: grid;
   grid: auto / auto 1fr;
   column-gap: 1em;

  
   border-radius: .3em .3em .3em .3em;

   background-color: var(--c-white);

}

.img-book-header-container > img:nth-of-type(1) {

   height: 6em;
   width: 4.3em;

   border-radius: .2em;

}

/* -------------------------------------- */
/* Content Book Header | Container
/* -------------------------------------- */

.content-book-header-container {

   display: grid;
  
}

/* -------------------------------------- */
/* Book Header Title Container 
/* -------------------------------------- */

.book-header-title-container {

  padding-top: 1.3em;
 
}

.book-header-title-block {

   display: grid;
   row-gap: .1em;
}


.book-title {

   font-weight: bold;
   line-height: 1em;

}

.book-autor {

   line-height: 1em;
   font-size: .9em

}


.book-year {

   font-size: .8em;
   color: var(--c-light-grey-2);
}

/* -------------------------------------- */
/* Book Spec | Container 
/* -------------------------------------- */

.book-spec-info-container {

   justify-self: flex-end;

   display: flex;
   align-items: center;
   column-gap: .4em;
}


/* -------------------------------------- */
/* Spec - Youtube 
/* -------------------------------------- */


.youtube-link-book {

   height: 1.6em;
   padding: 0em .4em;

   font-size: .8em;
   
   display: inline-flex;
   align-items: center;
   column-gap: .4em;

   text-decoration: none;

   border-radius: .3em;

   color: var(--c-light-grey-2);

   transition: all .4s ease;
}

.youtube-link-book > img:nth-of-type(1) {
   height: .75em;
}

.youtube-link-book:hover {

   background-color: var(--c-light-red-1);
   color:var(--c-light-white-1);
   
}


/* -------------------------------------- */
/* Spec - Pages & Listen Time 
/* -------------------------------------- */

.book-info-spec {

   height: 1.8em;

   font-size: .8em;

   display: flex;
   align-items: center;
   column-gap: .3em;

   color: var(--c-light-grey-2);
}

.book-info-spec > img:nth-of-type(1) {
   height: .75em;
}




/* --------------------------------------------- */
/* Intro - Book Card 
/* --------------------------------------------- */

.intro-book-card {

   padding: 0em .6em 1.1em.6em;
   /* background-color: var(--c-light-grey-1); */

   /* background-color: red; */

}

/* --------------------------------------------- */
/* Main - Book Card 
/* --------------------------------------------- */

.main-book-card {

   /* background-color: var(--c-light-grey-1); */

}






