

/* --------------------------------------------------------------------- */
/* 340px 
/* --------------------------------------------------------------------- */
@media (min-width: 340px ) {


    /* ----------------------------------------------- */
    /* Book Specs 
    /* ----------------------------------------------- */
    .specs-info-container {

        font-size: .7em;
    }

}

/* --------------------------------------------------------------------- */
/* 380px 
/* --------------------------------------------------------------------- */
@media (min-width: 380px ) {


    /* ----------------------------------------------- */
    /* Book Specs 
    /* ----------------------------------------------- */
    .specs-info-container {

        font-size: .85em;
    }

}

/* --------------------------------------------------------------------- */
/* 750px 
/* --------------------------------------------------------------------- */
@media (min-width: 780px ) {


    /* ----------------------------------------------- */
    /* Main Content 
    /* ----------------------------------------------- */
    #main-content {

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.3em
    }

    /* ----------------------------------------------- */
    /* Book List Overview Item Container 
    /* ----------------------------------------------- */
    .book-list-overview-item-container {

        width: 360px;
    }

}