/* ------------------------------------------------------------- */
/* Custom Select Container 
/* ------------------------------------------------------------- */

.custom-select-container {

    display: grid;
}

/* ------------------------------------------------------------- */
/* Selected Item | Custom
/* ------------------------------------------------------------- */

.selected-item-custom  {

    
    height: 3.8em;
    padding: 0px 16px;

    font-weight: 600;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: .6em;

    border-radius: .4em;

    cursor: pointer;

    transition: .4s all ease;

    color:var(--c-light-grey-1);

    background-color: rgb(39, 39, 39);
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
    background-blend-mode: multiply;
}

.selected-item-custom:hover {

    background-color: var(--c-light-antrahazit-1);
}

.title-select-item-custom {

    display: flex;
    align-items: center;
    column-gap: .6em;
}

.img-arrow-down {

    transform: rotateX(0deg);

    transition: .4s all ease;
}

.img-arrow-open {

    transform: rotateX(180deg);

}

/* ------------------------------------------------------------- */
/* Select List | Custom
/* ------------------------------------------------------------- */

.select-list-custom {

    

    margin-top: 12px;
    margin-bottom: 12px;
    
    display: grid;
    border-radius: .3em;

    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);

    transition: .4s all ease;
   
 
} 

/* default unshown select list  */
.hide {

    margin-bottom: 0px;

    max-height: 0px;
    overflow: hidden;
   
}

.select-list-custom > input { display: none;}

.select-list-custom > input:checked + label {

    background-color: rgb(255, 163, 163);
}


/* -------------------------------------- */
/* Header Select List
/* -------------------------------------- */

.header-select-list  {

    height: 2em;
    padding: 0px 16px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    font-weight: bold;

    color: var(--c-light-brown-1);
   
}

.select-list-custom > .header-select-list:nth-of-type(1) {

    border-radius: .3em .3em 0em 0em;
}


/* --------------------------------------------------------------- */
/* Label Select Item | Custom
/* --------------------------------------------------------------- */

.lbl-select-item-custom  {

    height: 3.8em;
    padding: 0px 16px;

    font-weight: 600;
    
    display: flex;
    align-items: center;
    column-gap: .6em;

    cursor: pointer;

    transition: .4s all ease;

    border-bottom: 1px solid rgb(155, 155, 155);
}

.lbl-select-item-custom:hover {

    background-color: rgb(177, 177, 177);

}

.border-r-tl-0-3-tr-0-3em { border-radius:  .3em .3em 0em 0em; }

.lbl-select-item-custom:last-of-type {

    border-radius:  0em 0em .3em .3em;
    border-bottom: 0px
}


