
/* -------------------------------------------------------------------- */
/* 500px 
/* -------------------------------------------------------------------- */
@media (min-width: 500px) {


    #nav-header-container:hover {
        background-color: rgb(6, 6, 6);
    }

}

/* -------------------------------------------------------------------- */
/* 1280px ( Header Center & Main more inside ) 
/* -------------------------------------------------------------------- */
@media (min-width: 1280px) {

    /* ------------------------------------------------ */
    /* Header 
    /* ------------------------------------------------ */

    #header-body {

        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;

    }

    #header-container {

        width: 800px;
        background-color: red;

        border-radius: .3em;
    }

    /* ---------------------------------------------------------------------------- */
    /* Main
    /* ---------------------------------------------------------------------------- */

    #main-body {

        justify-items: center;
    }
 
    /* ----------------------------------- */
    /* Custom Select 
    /* ----------------------------------- */
    #js-custom-select-content-category,
    #js-custom-select-content-chapter {

        width: 824px;
    }

    /* ----------------------------------- */
    /* Main Content 
    /* ----------------------------------- */

    #main-content {

        width: 90%;
    }
   



   

}