
/* -------------------------------------------------------------------- */
/* 500px 
/* -------------------------------------------------------------------- */
@media (min-width: 500px) {


    #nav-header-container:hover {
        background-color: rgb(6, 6, 6);
    }

}

/* -------------------------------------------------------------------- */
/* 1280px ( Header Center & Main more inside ) 
/* -------------------------------------------------------------------- */
@media (min-width: 1280px) {

    /* ------------------------------------------------ */
    /* Header 
    /* ------------------------------------------------ */

    #header-body {

        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;

    }

    #header-container {

        width: 800px;
        background-color: red;

        border-radius: .3em;
    }

    /* ---------------------------------------------------------------------------- */
    /* Category / Chapter Content Custom Select & Page Content 
    /* ---------------------------------------------------------------------------- */
 
    .custom-select {

        /* padding left,right 12px */
        width: 824px;

    }

    #main-body {

        justify-items: center;
    }


    
    #main-content {

       width: 95%;
       

    }

   

}