
.divPromise {

    padding: 12px;

    display: flex;
    align-items: center;

    font-weight: bold;

    border-radius: .3em;

    background-color: rgb(247, 140, 140);
}

/* --------------------------------------------------------------------------------- */
/* Main Body 
/* --------------------------------------------------------------------------------- */

#main-body {

    padding: 0px 12px 12px 12px;

    /* display: grid; */
    overflow-x: hidden;

}

.pages-container {

    display: flex;
    /* column-gap: 2em; */
    width: 200%;
    /* box-sizing: border-box; */

   

}

.page-01 {

    /* früher main-body  */
    position: relative;
    top:0;
    
    /* padding: 0px 12px 12px 12px; */

    transform: translateX(0%);

    width: 100%;

   

    
   

    transition: all .4s ease;

    box-sizing: border-box;

}

.page-content-01 {

    display: grid;
    grid: auto auto 1fr / 1fr;
    row-gap: 12px;
    justify-content: center;

}



.page-02 {

    background-color: red;

    width: 100%;

    box-sizing: border-box;

    transform: translateX(10%);
    transition: all .4s ease;
}

/* --------------------------------------------------------------------------------- */
/* Main Content  
/* --------------------------------------------------------------------------------- */

#main-content {

    /* padding: 12px 0px; */

    display: grid;
    align-content: flex-start;
    row-gap: 1.3em;
   
    /* background-color: rgb(152, 217, 152); */
    border-radius: .3em;

    /* background-color: red; */

}

/* --------------------------------------------------------------------------------- */
/* Page List  
/* --------------------------------------------------------------------------------- */

#page-list {

    display: grid;
    row-gap: .8em;
}


/* --------------------------------------------------------------------------------- */
/* Book List Items  
/* --------------------------------------------------------------------------------- */

.book-list-item {

    height: 100px;
    padding: 0px 8px;

    display: flex;
    align-items: center;

    border-radius: .3em;

    background-color: white;
}

/* --------------------------------------------------------------------------------- */
/* Food List Items  
/* --------------------------------------------------------------------------------- */

.food-list-item {

    height: 100px;
    padding: 8px;

    display: flex;
    align-items: center;

    border-radius: .3em;

    background-color: rgb(52, 121, 43);

}

/* --------------------------------------------------------------------------------- */
/* Language List Items  
/* --------------------------------------------------------------------------------- */

.language-list-item {

    height: 100px;
    padding: 8px;

    display: flex;
    align-items: center;

    border-radius: .3em;

    background-color: rgb(92, 43, 121);

}

/* --------------------------------------------------------------------------------- */
/* Intelligence List Items  
/* --------------------------------------------------------------------------------- */

/* --------------------------------------------------------------------------------- */
/* Music List Items  
/* --------------------------------------------------------------------------------- */

/* --------------------------------------------------------------------------------- */
/* Violine List Items  
/* --------------------------------------------------------------------------------- */

/* --------------------------------------------------------------------------------- */
/* JS-Games List Items  
/* --------------------------------------------------------------------------------- */

/* --------------------------------------------------------------------------------- */
/* Software Projects List Items  
/* --------------------------------------------------------------------------------- */

/* --------------------------------------------------------------------------------- */
/* Tech Tutorials List Items  
/* --------------------------------------------------------------------------------- */

/* --------------------------------------------------------------------------------- */
/* About List Items anders 
/* --------------------------------------------------------------------------------- */