
.divPromise {

    padding: 12px;

    display: flex;
    align-items: center;

    font-weight: bold;

    border-radius: .3em;

    background-color: rgb(247, 140, 140);
}

/* --------------------------------------------------------------------------------- */
/* Main Body 
/* --------------------------------------------------------------------------------- */

#main-body {

    position: relative;
    top:0;

    padding: 0px 12px 12px 12px;


    display: grid;
    grid: auto auto 1fr / 100%;
    /* row-gap: 12px; */
    justify-content: center;

}

/* --------------------------------------------------------------------------------- */
/* Main Content  
/* --------------------------------------------------------------------------------- */

#main-content {

    /* margin-top: 12px; */
    /* padding: 12px; */

    padding: 12px 0px;

    display: grid;
    row-gap: 2em;

    /* background-color: rgb(152, 217, 152); */
    border-radius: .3em;

}

/* --------------------------------------------------------------------------------- */
/* Page List  
/* --------------------------------------------------------------------------------- */

#page-list {

    display: grid;
    row-gap: .8em;
}


/* --------------------------------------------------------------------------------- */
/* Book List Items  
/* --------------------------------------------------------------------------------- */

.book-list-item {

    height: 100px;
    padding: 0px 8px;

    display: flex;
    align-items: center;

    border-radius: .3em;

    background-color: white;
}

/* --------------------------------------------------------------------------------- */
/* Food List Items  
/* --------------------------------------------------------------------------------- */

.food-list-item {

    height: 100px;
    padding: 8px;

    display: flex;
    align-items: center;

    border-radius: .3em;

    background-color: rgb(52, 121, 43);

}

/* --------------------------------------------------------------------------------- */
/* Language List Items  
/* --------------------------------------------------------------------------------- */

.language-list-item {

    height: 100px;
    padding: 8px;

    display: flex;
    align-items: center;

    border-radius: .3em;

    background-color: rgb(92, 43, 121);

}

/* --------------------------------------------------------------------------------- */
/* Intelligence List Items  
/* --------------------------------------------------------------------------------- */

/* --------------------------------------------------------------------------------- */
/* Music List Items  
/* --------------------------------------------------------------------------------- */

/* --------------------------------------------------------------------------------- */
/* Violine List Items  
/* --------------------------------------------------------------------------------- */

/* --------------------------------------------------------------------------------- */
/* JS-Games List Items  
/* --------------------------------------------------------------------------------- */

/* --------------------------------------------------------------------------------- */
/* Software Projects List Items  
/* --------------------------------------------------------------------------------- */

/* --------------------------------------------------------------------------------- */
/* Tech Tutorials List Items  
/* --------------------------------------------------------------------------------- */

/* --------------------------------------------------------------------------------- */
/* About List Items anders 
/* --------------------------------------------------------------------------------- */