
/* --------------------------------------------------------------------------------- */
/* [1/3] - Main Body 
/* --------------------------------------------------------------------------------- */

#main-body {

    padding: 0em .8em;
    
    display: grid;
    grid: auto 1fr / 1fr;
    row-gap: 14px;

    transition: .4s all ease;

    background-color: red;

    

}

/* --------------------------------------------------------------------------------- */
/* [2/3] - Nav Header Select
/* --------------------------------------------------------------------------------- */

#nav-header-select {
   
    border-radius: .3em;

    background-color: green;
    
}

/* --------------------------------------------------------------------------------- */
/* [3/3] - Main Body 
/* --------------------------------------------------------------------------------- */

.main-content {
  
    /* height: 100%; */
   
    background-color: yellow;

}