
/* --------------------------------------------------------------------------------- */
/* Vertical Content Container 
/* --------------------------------------------------------------------------------- */

.vertical-content-container {

    /* transform: translateY(-40%); */

    display: flex;
    flex-direction: column;
    row-gap: 14px;
   
    background-color: blue;

    transition: all .4s ease;

}

/* height container + .8em body-container row gap  */
.vertical-content-container > #nav-header-select {

    /* height: 100%; */
    /* padding-top: 1px; */

}

.vertical-content-container > #main-body {

    /* height: 100%; */
}


/* --------------------------------------------------------------------------------- */
/* Nav Select Header
/* --------------------------------------------------------------------------------- */

#nav-header-select {
   
    border-radius: .3em;

    background-color: green;
    
}