
/* -------------------------------------------------------------- */
/* Flex 
/* -------------------------------------------------------------- */

.flex { display: flex; }
.iflex { display: inline-flex; }

/* -------------------------------------------------------------- */
/* Grid 
/* -------------------------------------------------------------- */

.grid { display: grid; }

/* -------------------------------------------------------------- */
/* Align Content
/* -------------------------------------------------------------- */

.ac-c { align-content: center; }

/* -------------------------------------------------------------- */
/* Align Items
/* -------------------------------------------------------------- */

.ai-c { align-items: center; }

/* -------------------------------------------------------------- */
/* Justify Content 
/* -------------------------------------------------------------- */

.jc-sb { justify-content: space-between; }

/* -------------------------------------------------------------- */
/* Justify Items
/* -------------------------------------------------------------- */
